name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-on-ubuntu:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Update apt
      run: sudo apt update
    - name: Install deps
      run: sudo apt install libasound2-dev pkg-config libudev-dev
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
  build-on-archlinux:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
    steps:
    - uses: actions/checkout@v4
    - name: Update pacman
      run: pacman -Syu --noconfirm
    - name: Install deps
      run: |
        pacman -S --noconfirm \
          base-devel \
          rust \
          pkgconf \
          alsa-lib
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
  build-on-nixos:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install Nix
      uses: cachix/install-nix-action@v25
      with:
        nix_path: nixpkgs=channel:nixos-unstable
        extra_nix_config: |
          experimental-features = nix-command flakes
    - name: Enter dev shell and build
      run: |
        nix develop --command cargo build --verbose
    - name: Run tests
      run: |
        nix develop --command cargo test --verbose
