name: Ubuntu

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Update apt
      run: sudo apt update
    - name: Install deps
      run: |
        sudo apt install -y \
          pkg-config \
          libasound2-dev \
          libudev-dev \
          libwayland-dev \
          libxkbcommon-dev \
          libx11-dev \
          libxcb1-dev \
          libxrandr-dev \
          libxi-dev \
          libxcursor-dev \
          libxinerama-dev
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
