name: Archlinux

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
    steps:
    - uses: actions/checkout@v4
    - name: Update pacman
      run: pacman -Syu --noconfirm
    - name: Install deps
      run: |
        pacman -S --noconfirm \
          base-devel \
          rust \
          pkgconf \
          alsa-lib
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
